footer {
    display: flex;
    width: 83%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 100px;
}
.footerContent{
    display: flex;
    gap: 40px;
}

.footerContent div{
    display: flex;
    gap: 24px;
    align-items: center;
}

.footerContent a {
    display: flex;
    flex: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
}
.footerContent a:hover {
    text-decoration: underline;
    color: white;
}