@font-face {
  font-family: "JosefinSans-Regular";
  src: url(../fonts/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: "JosefinSans-Medium";
  src: url(../fonts/JosefinSans-Medium.ttf);
}

@font-face {
  font-family: "Oxygen-Regular";
  src: url(../fonts/Oxygen-Regular.ttf);
}

@font-face {
  font-family: "Oxygen-Bold";
  src: url(../fonts/Oxygen-Bold.ttf);
}


body {
  background-color: #0A0A0A;
  padding-top: 10%
}

button{
font-family: 'Oxygen-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  border: 1px solid #000000;
  background-color: white;
  height: 40px;
  padding: 0 36px;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color:black;
  transition: 300ms
}

html {
  scroll-behavior: smooth
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0a0a0a;
  height: fit-content;
  z-index: 1;
  font-family: "Oxygen-Regular";
}

h1 {
  font-family: 'Oxygen-Regular';
font-style: normal;
font-weight: 400;
font-size: 52px;
line-height: 69px;
color: white;
}

h2 {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25.2474px;
line-height: 40px;
text-align: center;
letter-spacing: 0.12em;
}

h3 {
  color: white;
  font-family: 'Oxygen-Regular';
font-style: normal;
font-weight: 400;
font-size: 25.9259px;
line-height: 33px;
}

h4 {
  color: white;
  font-family: 'Oxygen-Regular';
  padding-top: 80px;
}

main {
  width: 75%;
  max-width: 1000px;
  margin: 0 auto;
}

p {
  color: white;
  font-family: "Oxygen-regular";
}

button {
  font-family: "Oxygen-Regular";
}

a {
  font-family: "Oxygen-Regular";
}

.about {
font-family: 'Oxygen-Regular';
font-weight: 500;
font-size: 26.2507px;
line-height: 32px;
letter-spacing: 0.235em;
}

.about p {
  font-family: "Oxygen-Regular";
}

.about-me {
  background-color: white;
  height: 600px;
  gap: 50px;
  padding-left: 8%;
  padding-right: 8%;
}

.arround {
  justify-content: space-around;
}

.center {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}

.center p {
  font-family: "Oxygen-Regular";
}

.center-text {
  /* text-align: center; */
}

.centro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 50px
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }

  .navbar {
    width: 80%;
    padding-left: 130px;
    font-family: "Oxygen-Regular";
  }

.abaut {
  gap: 80px;
}

.about p {
  line-height: 25px;
  font-family: 'Oxygen-Regular';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
text-align: justify;
letter-spacing: 0.11em;
}

.container-project {
  width: 25%;
}

.container-project img {
  height: 350px;
}

.container a {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: justify;
letter-spacing: 0.11em;
}

.container-project p {
  text-align: center;
  padding-top: 15px;
}

.container-project img {
  width: 100%;;
}
  
.container-row {
  display: flex;
  flex-direction: column;
  }

.index {
    padding-top: 40px;
    height: 337px ;
  }

.index h3 {
  padding-top: 50px;
  padding-bottom: 120px;
  font-family: "Oxygen-Regular";
}

.justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  gap: 20px;
  font-family: "Oxygen-Regular";
}

.parragraff-black {
  color: black;
  font-family: 'Oxygen-Regular';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 155%;
text-align: justify;
letter-spacing: 0.005em;
}

.padd-bottom {
  padding-bottom: 100px;
}

.projects {
  width: 100%;
  /* margin: 0 auto; */
  padding-bottom: 100px;
}

.nav-links {
  color: white;
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: white;
 font-size: medium;
 font-family: "Oxygen-Regular";
}

.nav-links a:hover {
  text-decoration: underline;
  color: white;
}

.welcome {
  margin-left: 10%;
  margin-right: 10%;
}

.projects h3 {
  padding-bottom: 30px;
}

.btn {
  transition: transform 250ms;
}

.btn:hover {
  transform: translateY(-10px);
}