/* fonts */

@font-face {
    font-family: "JosefinSans-Regular";
    src: url(fonts/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: "JosefinSans-Medium";
    src: url(fonts/JosefinSans-Medium.ttf);
}

@font-face {
    font-family: "Oxygen-Regular";
    src: url(fonts/Oxygen-Regular.ttf);
}

@font-face {
    font-family: "Oxygen-Bold";
    src: url(fonts/Oxygen-Bold.ttf);
}


* {
    margin: 0;
    padding: 0;
    font-family: "Oxygen-Regular";
}

body {
    background-color: #0A0A0A;
    margin: 1% 5%;
}


/* section navbar */

.navbar {
    padding: 0 2%;
    top: 0;
}

.container-fluid {
    top: 0;
}

.list {
    padding-left: 60%;
}

.logo-f {
    margin-left: 0%;
}

.nav-item {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    color: gray;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.11em;
    margin-left: 40px;
}

/* section titles */

.titles h1 {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 57px;
}

.titles {
    padding: 70px 40px;
}

.titles h3 {
    color: white;
    padding-top: 40px;
    padding-bottom: 120px;
    font-style: normal;
    font-weight: 400;
}


.titles h5 {
    color: white;
    margin-left: 0px;
    margin-top: -50px;
    font-style: normal;
    font-weight: 400;
}

/* section projects */

.project-bc {
    /*margin-top: -70px;*/
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pc {
    margin-left: 40px;
    margin-top: 0px;
    flex: 1;
}

.card-body {
    color: white;
}

.btn-project {
    color: #0A0A0A;
}

.card h5 {
    color: black;
}

/* section me */
.me {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.me h5 {
    color: #0A0A0A;
}

.me p {
    color: #0A0A0A;
}

.me-card {
    max-width: 846px;
}

/* footer */

.socialm {
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-left: 10px;

}

.socialm a {
    text-decoration: none;
}

.get {
    margin-left: 10px;
}

/*------------ ABOUT PAGE ------------------------------------------------------------------------  */

/* section mySelf */
.intro-me {
    padding-left: 4%;
}

.mySelf {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mySelf h2 {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 57px;
    letter-spacing: 1.9px;
}

.mySelf img {
    padding: 10px;
}

.tool {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.tool img {
    padding: 0px 40px;
}

.tool h3 {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 25.9259px;
    letter-spacing: 2px;
}

.tool button {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: white;
    border: 1px solid white;
    background-color: black;
    height: 40px;
    padding: 0 36px;
    cursor: pointer;
    letter-spacing: 1.5px;
}

.button {
    transition-duration: 0.4s;
}

.button:hover {
    background-color: white;
    color: black;
}

.columna-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.r {
    display: flex;
    justify-content: center;

}

.columna-1 p {
    line-height: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.11em;
    padding: 10px;

}

.columna-2 h3 {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 25.9259px;
    line-height: 33px;

}

.columna-2 img {
    padding: 10px;
}

.titles h1 {
    width: 50%;
}

.titles h3 {
    text-align: center;
}

section.titles {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container.project .card-img-top {
    object-fit: contain;
    padding: 48px;
    max-height: 260px;
}

.titles {
    min-height: 694px;
}

.media-icon {
    transition: all 0.3s;
    fill: white;
}

.bi-linkedin:hover {
    fill: #0077B5;
}

.envelope-container {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 0px 2px;
    background-color: white;
    border-radius: 4px;
}

.telephone-container {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 0px 2px;
    background-color: white;
    border-radius: 4px;
}

.bi-envelope {
    fill: black;
}

.bi-telephone {
    fill: black;
}

.bi-envelope:hover {
    fill: #D44638;
}

.bi-telephone:hover {
    fill: #25D366;
}

a.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
}

@media screen and (max-width: 746px) {

    .titles {
        padding: 70px 0px;
    }

    .titles h1 {
        width: 100%;
        text-align: center;
    }

    .container.project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .pc {
        margin-left: 0px;
        margin-top: 0px;
        width: 100%;
    }
}